.hero_wrapper {
    height: 500px;
    overflow: hidden;
  
    & .container {
      max-width: 1170px;
      margin: 0 auto;
  
      & .hero_content {
        display: flex;
        justify-content: space-between;
        margin-top: 115px;
  
        & .text_1 {
          font-size: 32px;
        }
        & .text_2 {
          font-size: 64px;
          font-weight: bold;
          color: gold;
        }
        & .text_3 {
          font-size: 32px;
        }
        & .text_4 {
          font-size: 16px;
          margin-top: 25px;
        }
  
        & .hero_social {
          display: flex;
          list-style: none;
          margin-top: 25px;
  
          & li {
            margin-right: 10px;
  
            & svg {
              width: 32px;
              height: 32px;
            }
          }
        }
  
        & .hero_image {
          width: 300px;
          height: 300px;
          border-radius: 100%;
          background-image: url("https://scontent.fbkk5-6.fna.fbcdn.net/v/t39.30808-6/422920171_2471891469665634_7810704742456376284_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFoUJ8fFSB0CWdXTrSs9h2TQTHw6YmqI71BMfDpiaojvVrDs-CN9GK1E4KEUJfq_q6w4IJ8xOkQDlGs06ULf-Es&_nc_ohc=DYGs9y6MYEcAX_JwhAP&_nc_oc=AQmTpgxU88sKhw4PIRvnimGwPjgYvSDeEBr11HU8uez16JiTCr4xqPMKAGbWxRJUciWSbd0U_IwqzTSylAi4tVLj&_nc_ht=scontent.fbkk5-6.fna&cb_e2o_trans=t&oh=00_AfDGcxk3mkph-G0nH7q7u7TtWGfvyNkvool8OiRz087s3g&oe=65F26A78");
          background-size: cover;
          background-position: center;
          margin-right: 120px;
        }
      }
    }
  }
  
  @media screen and (max-width: 480px) {
    .hero_wrapper {
      height: auto;
  
      & .hero_content {
        flex-direction: column;
        margin: 50px 0;
        padding: 20px;
  
        & .hero_info, & .hero_image {
          width: 100%;
        }
  
      }
  
     
    }
  }